.wrapper {
  border: 1px solid #ddd;
  padding: 20px;
  width: 800px;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 3px;
  background-color: #f5f5f5;
}

.button {
  padding: 12px 20px;
  vertical-align: middle;
  color: #fff;
  font-size: 15px;
  background-color: #ff8d00;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.start-button {
  float: right;
}
.pop-wrapper {
  display: inline-block;
  float: right;
}
.ReactModal__Content {
  padding: 0 !important;
  width: 400px;
}
.popup-header {
  padding: 20px 16px;
  border-bottom: 1px solid #ddd;
}
.modal-body {
  padding: 20px 16px;
  border-bottom: 1px solid #ddd;
}
.popup-close-button {
  float: right;
  cursor: pointer;
}
.people-input {
  border: 1px solid #ddd;
  width: 350px;
  height: 20px;
}
.modal-footer {
  text-align: right;
  padding: 10px 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
